@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

td .cds--number,
td .cds--number__input-wrapper,
td .cds--number__input-wrapper input,
td .cds--number input[type="number"] {
  width: 50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
}

td .cds--form-item {
  width: 50px !important;
}
