@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

div .timesheet-card-input .cds--number,
div .timesheet-card-input .cds--number__input-wrapper,
div .timesheet-card-input .cds--number__input-wrapper input,
div .timesheet-card-input .cds--number input[type="number"] {
  width: 75px !important;
  min-width: 75px !important;
  max-width: 75px !important;
}

div .timesheet-card-input .cds--form-item {
  width: 75px !important;
}
